/* Light Theme (Default) */
body {
    background-color: #f8f9fa;
    color: #212529;
}

.navbar {
    background-color: #ffffff;
}

.card {
    background-color: #ffffff;
    border-color: #dee2e6;
}

.table {
    background-color: #ffffff;
}

input, textarea, select {
    background-color: #ffffff;
    color: #212529;
}

/* Dark Theme */
body.dark-mode {
    background-color: #212529;
    color: #f8f9fa;
}

.navbar.dark-mode {
    background-color: #343a40 !important;
}

.card.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
    border-color: #454d55;
}

.table.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
    border-color: #454d55;
}

input.dark-mode, textarea.dark-mode, select.dark-mode {
    background-color: #454d55;
    color: #f8f9fa;
}

.btn-outline-secondary.dark-mode {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-secondary.dark-mode:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}
